[submodule "Scrapyard/libs/spdlog"]
	path = Scrapyard/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Scrapyard/libs/GLFW"]
	path = Scrapyard/libs/GLFW
	url = git@github.com:Raelr/glfw.git
